.project1 {
    background-color: lightgreen;
    border: 2px solid lightcoral;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 85%;
}

.project2 {
    background-color: lawngreen;
}

.project3 {
    background-color: lawngreen;
}

.project4 {
    background-color: lawngreen;
}
