body {
  font-family: Barlow, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 0;
}


li a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding-right: 25px;
}

.box {  
  display: inline-block;
  margin: auto;
  padding: 50px 30px;
  vertical-align: middle;
  width: 27%;
}    

.center {
  text-align: center;
}
.cont-intro {
  background-color: brown;
}

.extraItems {
  list-style-position: inside;
  text-align: justify;
}


.fix-footer {
  bottom: 0;
}

.intro {
  display: inline-block;
  margin-left: 9%;
  vertical-align: middle;
  width: 40%;
}

.justify {
    text-align: justify;
    width: 85%;
    margin: auto;
}

.justify::after{
    content: '';
    display: inline-block;
    width: 100%;
}

.mini {
  display: inline-block;
}

.projects {
  padding: 30px;
}

.profile-picture {
  border: 10px solid white;
  border-radius: 50%;
  height: 300px;
}

.shadow {
  background-color: blueviolet;
  border-radius: 50%;
  display: block;
  height: 300px;
  margin: 100px;
  padding:  0 50px 50px 0;
  width: 300px;
}

.right {
  text-align: right;
}

.text-footer {
  margin: 0;
  padding: 20px;
}


.projects-card{
  display: inline-block;
  text-align: center;
  height: 500px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px 5px;
  vertical-align: middle;
}

.projects-card-container{
  margin: 0px 20px;
  height: 170px;
  background-color: rgb(240, 224, 224);
}

.projects-card p{
  font-size: 0.8em;
}

.projects-card-img{
  width: 270px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 15px 0px;
}


